body {
  margin: 0;
  padding: 0;  
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh; 
  background-color: #f0f2f5;
  box-sizing: border-box; 
}

.inner_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.67em;
  border: 1px solid #d4d4d4;
  border-radius: 0.75em;
  padding: 2.5em 3.5em;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 450px; 
  width: 90%; 
  box-sizing: border-box;
}

.input {
  border: 2px solid #5a91ed;
  border-radius: 0.5em;
  padding: 0.9em 1.2em;
  box-sizing: border-box;
  font-size: 1em;
  color: #333;
  transition: all 0.2s ease-in-out;
  width: 100%; 
}

.input:hover {
  border-color: #4a74c4;
}

.input:focus {
  outline: none;
  border-color: #3f68b8;
  box-shadow: 0 0 0 3px rgba(90, 145, 237, 0.3);
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.submit_btn {
  font-size: 1.1em;
  font-weight: 600;
  border: none;
  border-radius: 4em;
  background-color: #5a91ed;
  color: #ffffff;
  width: 100%;
  padding: 0.8em 0;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.submit_btn:hover {
  background-color: #4a74c4;
}


@media (max-width: 480px) {
  .form {
    border: none;
    border-radius: 0;
    padding: 2em 1em; 
    box-shadow: none;
    width: 100%; 
  }

  .inner_container {
    padding: 0;
  }
}